.footer {
    background-color: #fffdf7;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 10px;
    margin-top: 20px;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-socials {
    margin-top: 10px;
  }
  
  .footer-socials a {
    margin: 0 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-socials a:hover {
    text-decoration: underline;
  }
  
  .footer-link {
    color: black !important;
    text-decoration: none !important;
  }
  
  .footer-link:visited,
  .footer-link:active,
  .footer-link:hover,
  .footer-link:focus {
    color: black !important;
    text-decoration: none !important;
  }
  